<table class="table table-striped">
<tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Size</th>
    <th>Price</th>
</tr>
<tr>
    <td><%= @product.name %></td>
    <td><%= @product.brand %></td>
    <td><%= @product.size %></td>
    <td><%= @product.price %></td>
    <td><%= link_to "Edit", edit_product_path(@product) %></td>
    <td><%= link_to "Delete", @product, method: :delete, data: {confirm: "Are you sure ?"} %></td>
</tr>
</table>
<%= link_to "Add Product",new_product_path %><br/>
<%= link_to "Go to Products", products_path %>