<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @account.bank_name %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @account.branch_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
